html, body, #app, div.container {
  height: 100%;
}

body {
    font-family: monospace;
    background-color: #1D1F21;
    color: #B5BD68;
    margin: 0;
}

.error {
  color: #A54242;
}

.navbar {
  background-color: #373B41;
  display: flex;
  position: fixed;
  flex-direction: row;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.main {
  top: 100px;
  position: fixed;
  height: 100%;
}

.navbar > .item {
    padding: 10px 16px;
}

h2, h3 { 
    color: #C5C8C6;
    word-wrap: break-word;
  }


input#search {
  width: 200px;
}

#search {
  font-family: monospace;
  background-color: #C5C8C6;
  border: none;
  padding: 3px;
  border-radius: 1.5px;
  color: #1D1F21;
}

#search:focus{
  outline: none;
}